<div class="container {{if currentUser.user.admin 'admin'}}">
  {{#if currentUser.user.admin}}
    {{admin-header logout=(action 'logout')}}
  {{else}}
    {{app-header logout=(action 'logout')}}
  {{/if}}
  <div class="body">
    {{outlet}}
  </div>
</div>
