<article class="listing">
  <h3>{{ticket.title}}</h3>
  <div class="detail">
    {{ticket.description}}
  </div>
  <div class="detail">
    Status: {{ticket.status}}
  </div>
  {{#if currentUser.user.admin}}
    {{#if ticket.isOpen}}
      <div class="detail">
        {{#link-to 'admin.tickets.edit' ticket class="button"}}
          Answer
        {{/link-to}}
      </div>
    {{/if}}
  {{else}}
    {{#if showViewButton}}
      {{#link-to 'app.tickets.show' ticket class="button"}}
        View
      {{/link-to}}
    {{/if}}
  {{/if}}

  {{#if ticket.answer}}
    <div class="detail">
      <strong>
        Answer: {{ticket.answer}}
      </strong>
    </div>
  {{/if}}
</article>
