{{#if users}}
  {{#each users as |user|}}
    <article class="listing">
      <h3>{{user.first_name}} {{user.last_name}} {{user.email}}</h3>
      <div class="detail">
        {{if user.admin 'Admin' 'User'}}
      </div>
    </article>
  {{/each}}
{{else}}
  <article class="listing">
    <h3>No users</h3>
    <br>
  </article>
{{/if}}
